<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecoleta</title>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/create-point.css">
        <link rel="stylesheet" href="../styles/responsive.css">

        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700display=swap" rel="stylesheet">
    </head>
    <body>

        <div id="page-create-point">
            <header>
                <a href="/"><img src="../icones/logo.svg" alt="logomarca ecoleta"></a>


                <a href="/">
                    <span></span>
                    Voltar para home
                </a>
            </header> 
            
            <form>
                <h1>Cadastro do pono de coleta</h1>

                <fieldset>
                    <legend>
                        <h2>Dados da entidade</h2>
                    </legend>

                    <div class="field">
                        <label for="nome-entidade" >Nome da entidade</label>
                        <input type="text" name="name" id="nome-entidade" required>
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="adress">Endereço</label>
                            <input type="text" name="adress" id="adress" required>
                        </div>
                        
                        <div class="field" id="numero-casa">
                            <label for="house-number">Número</label>
                            <input type="Number" name="house-number" id="house-number" required>
                        </div>
                        <div class="field" id="comp">
                            <label for="complemento">Complemento</label>
                            <input type="text" name="complemento" id="complemento">
                        </div>
                    </div>

                    

                    <div class="field-group">
                        <div class="field">
                            <label for="uf">Estado</label>
                            <select name="uf" id="uf" required>
                                <option value="">Selecione o Estado</option>
                            </select>

                        </div>

                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city" id="city" disabled required>
                                <option value="">Selecione a cidade</option>
                            </select>
                        </div>
                        

                        <input type="hidden" name="state">
                    </div>

                </fieldset>

                <fieldset>
                    <legend>
                        <h2>Ítems de coleta</h2>
                    </legend>

                    <div class="items-grid">
                        <li data-id="1">
                            <img src="/icones/lampadas.svg" alt="Coleta de lâmpadas">
                            <span>Lâmpadas</span>
                        </li>

                        <li data-id="2">
                            <img src="/icones/baterias.svg" alt="Coleta de pilhas e baterias">
                            <span>Pilhas Baterias</span>
                        </li>

                        <li data-id="3">
                            <img src="/icones/papeis-papelao.svg" alt="Coleta de papeis e papelão">
                            <span>Papeis e papelão</span>
                        </li>

                        <li data-id="4">
                            <img src="/icones/eletronicos.svg" alt="Coleta de resíduos e eletrônicos">
                            <span>Resíduos e eletrônicos</span>
                        </li>

                        <li data-id="5">
                            <img src="/icones/organicos.svg" alt="Coleta de resíduos orgânicos">
                            <span>Resíduos Orgânicos</span>
                        </li>

                        <li data-id="6">
                            <img src="/icones/oleo.svg" alt="Coleta de óleos de cozinha">
                            <span>Óleo de cozinha</span>
                        </li>

                    </div>

                    <input type="hidden" name="items">
                </fieldset> 

                <div class="button-form">
                    <button type="submit">Cadastrar ponto de coleta</button>
                </div>
            </form>


        </div>

        <script src="/script/create-point.js"></script>
    </body>
</html>

<!-- Terminei em 56:09 -->