:root {
    --title-color: #7f6edf;
    --primary-color: #34cd69;
    --default-text: rgb(200, 197, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: Roboto, sans-serif;

}

body {
    background: #0e0e27;
    color: var(--default-text);
    -webkit-font-smoothing: antialiased;

}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}




